*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0f172a,#1e293b,#2563eb);

}

.container{

width:500px;

background:rgba(255,255,255,.1);

backdrop-filter:blur(20px);

padding:40px;

border-radius:20px;

box-shadow:0 20px 50px rgba(0,0,0,.4);

color:white;

}

h1{

text-align:center;

margin-bottom:10px;

font-size:36px;

}

.subtitle{

text-align:center;

opacity:.8;

margin-bottom:30px;

}

input{

width:100%;

padding:15px;

font-size:18px;

border:none;

border-radius:10px;

margin-bottom:20px;

outline:none;

}

button{

width:100%;

padding:15px;

font-size:18px;

border:none;

border-radius:10px;

background:#22c55e;

color:white;

cursor:pointer;

transition:.3s;

font-weight:bold;

}

button:hover{

background:#16a34a;

transform:scale(1.03);

}

.result{

margin-top:30px;

}

.score-box{

display:flex;

justify-content:space-between;

padding:15px;

background:white;

color:black;

border-radius:10px;

margin-bottom:20px;

font-weight:bold;

}

.strength{

padding:12px;

border-radius:10px;

text-align:center;

font-size:22px;

font-weight:bold;

margin-bottom:25px;

}

.weak{

background:#ef4444;

}

.medium{

background:#f59e0b;

}

.strong{

background:#10b981;

}

.very-strong{

background:#22c55e;

}

ul{

margin-left:20px;

}

li{

margin-bottom:10px;

}

.good{

background:#16a34a;

padding:15px;

border-radius:10px;

text-align:center;

font-size:20px;

font-weight:bold;

}