<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Password Strength Analyzer</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="container">

    <h1>🔐 Password Strength Analyzer</h1>
    <p class="subtitle">Check how secure your password is.</p>

    <form method="POST">

        <input
        type="password"
        name="password"
        placeholder="Enter your password"
        required>

        <button type="submit">
            Analyze Password
        </button>

    </form>

{% if result %}

<div class="result">

<h2>Analysis Result</h2>

<div class="score-box">
Score
<span>{{ result.score }}/5</span>
</div>

<div class="strength {{ result.strength|lower|replace(' ','-') }}">
{{ result.strength }}
</div>

<h3>Suggestions</h3>

{% if result.suggestions %}

<ul>

{% for s in result.suggestions %}
<li>{{ s }}</li>
{% endfor %}

</ul>

{% else %}

<div class="good">

✅ Excellent Password!

</div>

{% endif %}

</div>

{% endif %}

</div>

</body>
</html>